# This is the API key from POEditor.com, which you can find
# in the POEditor dashboard (or by contacting info@zetkin.org)
POEDITOR_API_KEY=abc123def456

# Set to 1 to run in verbose mode
POEDITOR_SCRIPT_VERBOSE=0

# Per-app settings
CALL_ZETK_IN_PROJECT_ID=213653
CALL_ZETK_IN_LOCALE_PATH=~/src/zetkin/call.zetk.in/locale

ORGANIZE_ZETK_IN_PROJECT_ID=
ORGANIZE_ZETK_IN_LOCALE_PATH=

WWW_ZETK_IN_PROJECT_ID=
WWW_ZETK_IN_LOCALE_PATH=

PS_EMAIL_PROJECT_ID=
PS_EMAIL_LOCALE_PATH=

PS_SMS_PROJECT_ID=
PS_SMS_LOCALE_PATH=
